/* CSS VARIABLES */

:root {
    --yellow: #fecd32;
    --black: #000000;
    --white: #f2f2f2;
    --gray: #2f2f2f;
    --blue: #2c3e50;
}

/* GENERAL start */

html {
    font-family: 'Roboto', sans-serif;
    /* Add smooth scrolling when navigating */
    scroll-behavior: smooth;
}

body {
    /* Body has default margin of 8px */
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

section {
    /* Prevent anchor links from scrolling over the section header */
    scroll-margin-top: 35px;
    padding: 20px;
}

/* GENERAL stop */

/* NAV start */

nav {
    position: sticky;
    top: 0;
    background-color: var(--yellow);
    z-index: 1;
}

nav ul {
    margin: 0;
    padding: 15px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav ul li a {
    color: var(--black);
    transition: font-size 0.3s;
}

nav ul li a:hover, nav ul li a:active {
    font-size: 1rem;
}

/* NAV stop */

/* HEADER start */

.main-header {
    background: #ffffff url("assets/digit_hero.jpg") no-repeat center center;
    backdrop-filter: blur(50%);
    background-size: cover;
    height: 40vh;
}

.main-header hgroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(1px);
    text-align: center;
    height: 100%;
    color: var(--white);
    text-shadow: -0.5px 0 black, 0 .5px black, .5px 0 black, 0 -.5px black;
}

.main-header hgroup h2 {
    font-size: 1em;
}

/* HEADER stop  */

/* SECTIONS start */

#about, #contact {
    background-color: var(--gray);
    color: var(--white);
}

#education, #projects {
    background-color: var(--white);
    color: var(--gray);
}

#experience {
    background-color: var(--blue);
    color: var(--white);
}

#contact a {
    color: white;
}

.social {
    padding: 0;
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
}

/* SECTIONS stop */